* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(135deg, #00B7D4, #505488, #2F3F80, #161569, #5A4894, #A950A1, #FF7CAE);
    background-size: 500%;
    animation: FANIMADO 3s infinite;
}

@keyframes FANIMADO {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;

    }
}

.texto{
    color: white;
}
.container {
    position: relative;
}
.image-container {
    position: relative;
    display: inline-block;
}

.texto-superpuesto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7); /* Fondo transparente */
    padding: 10px;
}
